.forms{
    width: 70%;
}
.forms .forminput{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    flex-direction: column;
}
.forms .forminput form.post{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
form.post{
    background-color: #fff;
    padding: 1em;
    width: 100%;
    margin-top: 15em;
    border-radius: 5px;
}
form .formgeral{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*INPUTS*/

.menu input{
    width: 30em;
    height: 1.2em;
    border: 1px solid gray;
    border-radius: 5px;
    padding: .5em;
    margin-bottom: .5em;
    font-size: 11pt;
}

.corpo input{
    width: 30em;
    height: 2em;
    border: 1px solid gray;
    border-radius: 5px;
    padding: .5em;
    margin-bottom: .5em;
    font-size: 11pt;
}
.corpo .btnimprimir input{
    width: 100%;
    cursor: pointer;
    height: 3em;
    border: none;
    background-color: #FFB423;
    font-size: 12pt;
    color: #1A1B2F;
}
.btnimprimir input:hover{
    background-color: #f7c258;
}
/*Selects*/
select{
    width: 28.5em;
    height: 2.8em;
    margin-bottom: .5em;
    font-size: 12pt;
    cursor: pointer;
    background-color: #1A1B2F;
    border: none;
    border-radius: 5px;
    color: #FFB423;
}

/*BOTÕES*/

.corpo button{
    width: 100%;
    height: 3.5em;
    margin-top: 2em;
    font-size: 12pt;
    padding: 0;
    cursor: pointer;
    background-color: #1A1B2F;
    border: none;
    border-radius: 5px;
    color: #FFB423;
}
.corpo button:hover{
    background-color: #26273a;
}
.menu button{
    height: 2.5em;
    margin-left: 0;
    background-color: #FFB423;
    color: #1A1B2F;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.menu button:hover{
    background-color: #f7c258;
}