.forms{
    width: 70%;
}
.forms .forminput{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.forms .forminput form.post{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
form.post{
    background-color: #fff;
    padding: .5em;
    width: 100%;
    height: 50vh;
    margin-top: 2em;
    border-radius: 5px;
}
form .formgeral{
    display: flex;
    justify-content: space-between;
}

/*INPUTS*/

/*BOTÕES*/