*{
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}
h1,h2,h3,h4,h5,h6{
    color: #1A1B2F;
}
.menu h2{
    color: #FFB423;
}
.menu a{
    color: #FFB423;
    text-decoration: none;
}
.menu p{
    background-color: #FFB423;
    padding: .5em;
    color: #1A1B2F;
}/*
.bodycards p{
    color: #fff;
}*/
.admin p{
    color: #fff;
}
p{
    color: #1A1B2F;
    font-size: 12pt;
}
span{
    font-weight: 900;
}
.green{
    color: green;
    font-size: 14pt;
}
.yellow{
    color: rgb(126, 126, 7);
    font-size: 14pt;
}
.orange{
    color: orange;
    font-size: 14pt;
}
.cima a{
    text-decoration: none;
    color: #1A1B2F;
    background-color: rgb(238, 238, 238);
    cursor: pointer;
    padding: .5em;
    border-radius: 5px;
}
.cima a:hover{
    background-color: rgb(196, 196, 196);
}
.middlecards .recibocard p{
    font-size: 16pt;
    margin-bottom: -10px;
}
.middlecards li{
    color: #1A1B2F;
    font-size: 12pt;
    list-style: none;
}
.middlecards .descricaopagamento{
    display: flex;
    flex-direction: column;
}
.descricaopagamento .cliente{
    display: flex;
    justify-content: space-between;
}
.descricaopagamento .nos{
    display: flex;
    justify-content: space-between;
}
.nos .total{
    font-size: 16pt;
}
.sidemenu li{
    list-style: none;
    font-size: 18pt;
    padding: .5em;
    color: #fff;
    margin-bottom: .5em;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 1em;
    border-top-left-radius: 1em;
    transition: 600ms;
}
.sidemenu li:hover{
    background-color: #1A1B2F;
}
li.ativo{
    background-color: #1A1B2F;
}
li:hover a{
    transition: 600ms;
    color: #c48509;
}
li.sair{
    margin-top: 1em;
}
li a{
    text-decoration: none;
    color: #fff;
}